<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Character</title>
  <link rel="stylesheet" href="/sr4.css" />
</head>
<body>

<h1><a href ="/"> Shadowrun Character-keeper </a></h1>

<div id = "character-name"><%= @character.name %></div>

<ul class="char-nav">
  <li><a href = "#skills">Skills</a></li>
  <li> | </li>
  <li><a href = "#qualities">Qualities</a></li>
  <li> | </li>
  <li><a href = "#gear">Gear</a></li>
  <li> | </li>
  <li><a href = "#connections">Connections</a></li>
</ul>

<div class = "content">

<ul class = "character-details">
<li><%= "Metatype: #{@character.metatype.name}" %></li>
<li><%= "Metatype special: #{@character.metatype.special_ability}" %></li>
<ul class = "barscilwe">
  <li><%= "Body: #{@character.body}" %>
  <li><%= "Agility: #{@character.agility}" %>
  <li><%= "Strength: #{@character.strength}" %>
  <li><%= "Reaction: #{@character.reaction}" %>
  <li><%= "Charisma: #{ @character.charisma}" %>
  <li><%= "Intuition: #{ @character.intuition}" %>
  <li><%= "Logic: #{@character.logic}" %>
  <li><%= "Willpower: #{@character.willpower}" %>
  <li><%= "Edge: #{@character.edge}" %>
</ul>
<li><%= "Physical damage track: #{8 + (@character.body.to_f/2).ceil}" %></li>
<li><%= "Stun damage track: #{8 + (@character.willpower.to_f/2).ceil}" %></li>
<li><%= "Initiative: #{@character.reaction + @character.intuition}"%></li>
<li><%= "Initiative passes: #{@character.initiative_passes}" %></li>
<li><%= "Nuyen: #{@character.nuyen}" %></li>
<li><%= "Essence: #{@character.essence}" %></li>
<li><%= "Magic/Resonance: #{@character.magic}" %></li>
</ul>


<h3><a name="skills">Skills: </h3>
<ul>
  <% @character_skills.each do |characterskill| %>

    <li><%= "#{Skill.find(characterskill.skill_id).name}, Rating: #{characterskill.rating}, Specialization: #{characterskill.specialization}" %></li>

  <% end %>
</ul>

<div class = "editing-characters">
<p>Add a skill:</p>
    <form action= <%= "/addskill/#{@character.id}" %> method="post">
      <label for="skillname">Name: </label>
      <input type="text" name="skillname" id="skillname" />
      <label for="skillrating">Rating: </label>
      <input type="text" name="skillrating" id="skillrating" />
      <label for="skillspecialization">Specialization: </label>
      <input type="text" name="skillspecialization" id="skillspecialization" />
      <label for="skillgroup">Skill group: </label>
      <input type="text" name="skillgroup" id="skillgroup" />
      <label for="skilldefault">Default: </label>
      <input type="text" name="skilldefault" id="skilldefault" />
      <input class="submit-button" type="submit"  value="Submit"/>
    </form>
  </div>

<form action= <%= "/delete-skill/#{@character.id}" %> method = 'post' >
Skill select:
  <select name = "deletable-skill">
    <% @character_skills.each do |characterskill| %>
      <option><%= Skill.find(characterskill.skill_id).name%></option>
    <% end %>
  </select>
  <input class="delete-button" type="submit"  value="Delete"/>
</form>

<h3><a name = "qualities">Qualities: </h3>
<ul>
  <% @character_qualities.each do |characterquality| %>

    <li><%= "#{Quality.find(characterquality.quality_id).name}: #{Quality.find(characterquality.quality_id).description} Rating: #{characterquality.affect_rating} #{Quality.find(characterquality.quality_id).affected_stat} " %></li>

      <form action= <%= "/deletequality/#{@character.id}/#{characterquality.id}" %> method="post">
      <input  class="delete-button" type="submit"  value="Delete"/>
      </form>

  <% end %>
</ul>

<div class = "editing-characters">
  <p>Add a quality:</p>
    <form action= <%= "/addquality/#{@character.id}" %> method="post">
      <label for="qname">Name: </label>
      <input type="text" name="qname" id="qname" />

      <label for="qdescription">Description: </label>
      <input type="text" name="qdescription" id="qdescription" />

      <label for="qaffect">Affected stat, if any: </label>
      <input type="text" name="qaffect" id="qaffect" />

      <label for="qrating">Affect rating, if any: </label>
      <input type="text" name="qrating" id="qrating" />

      <input  class="submit-button" type="submit"  value="Submit"/>
    </form>
</div>

<form action= <%= "/delete-skill/#{@character.id}" %> method = 'post' >
Quality select:
  <select name = "deletable-quality">
    <% @character_qualities.each do |characterquality| %>
      <option><%= Quality.find(characterquality.quality_id).name%></option>
    <% end %>
  </select>
  <input class="delete-button" type="submit"  value="Delete"/>
</form>

<h3><a name = "gear">Gear: </h3>

<form>
  <select>
    <option>Weapons</option>
    <option>Armour</option>
    <option>Vehicles</option>
    <option>General</option>
  </select>
  Coming Soon.
</form>




  <h3><a name = "connections">Connections: </h3>

<ul>
  <% @connections.each do |connection|%>

  <li><%= "#{connection.name}: #{connection.description} Loyalty: #{connection.loyalty}/ Connection: #{connection.connection}" %></li>

    <form action= <%= "/deleteconnection/#{@character.id}/#{connection.id}" %> method="post">
      <input class="delete-button" type="submit"  value="Delete"/>
    </form>

  <% end %>
</ul>

<div class = "editing-characters">
  <p>Add a connection:</p>
    <form action= <%= "/addconnection/#{@character.id}" %> method="post">
      <label for="connectionname">Name: </label>
      <input type="text" name="connectionname" id="connectionname" />

      <label for="connectiondescription">Description: </label>
      <input type="text" name="connectiondescription" id="connectiondescription" />

      <label for="connectionloyalty">Loyalty: </label>
      <input type="text" name="connectionloyalty" id="connectionloyalty" />

      <label for="connection">Connection: </label>
      <input type="text" name="connection" id="connection" />

      <input class="submit-button" type="submit"  value="Submit"/>
    </form>
</div>

<div id="character-deletion">
  <form action= <%= "/delete/#{@character.id}" %> method="post">
    <label for="delete">Delete this character? This action cannot be undone. </label>
    <input class="delete-button" type="submit"  value="Delete"/>
  </form>
</div>

</div>

</body>
</html>
